<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albuns</title>
    <link rel="stylesheet" href="../assets/css/index.css">
    

</head>

<body>

    <header class="wrapper-header">
        <section class="container">
            <div>
                <nav>
                    <ul class="menu-nav">
                        <li class="item"><a href="index.html">Home</a></li>
                        <li class="item"><a href="posts.html">Posts</a></li>
                        <li class="item"><a href="albuns.html">Albuns</a></li>
                        <li class="item"><a href="todos.html">Todos</a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </header>
    <main>
        <section class="container">
            <div id="albuns-wrapper" class="content-wrapper"></div>

        </section>
    </main>



    <script src="../controller/albuns.js"></script>>
</body>

</html>